/build
/projects/VisualStudio2017/VkBootstrap/resources/shaders
/projects/VisualStudio2017/VkBootstrap/.vs
/projects/VisualStudio2017/VkBootstrap/Debug
/projects/VisualStudio2017/VkBootstrap/Release
/projects/VisualStudio2017/VkBootstrap/x64/Debug
